@model ClickTixWeb.Models.Pelicula

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pelicula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCategoria" class="control-label"></label>
                <select asp-for="IdCategoria" class ="form-control" asp-items="ViewBag.IdCategoria"></select>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdClasificacion" class="control-label"></label>
                <select asp-for="IdClasificacion" class ="form-control" asp-items="ViewBag.IdClasificacion"></select>
            </div>
            <div class="form-group">
                <label asp-for="Portada" class="control-label"></label>
                <input asp-for="Portada" class="form-control" />
                <span asp-validation-for="Portada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duracion" class="control-label"></label>
                <input asp-for="Duracion" class="form-control" />
                <span asp-validation-for="Duracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEstreno" class="control-label"></label>
                <input asp-for="FechaEstreno" class="form-control" />
                <span asp-validation-for="FechaEstreno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstaActiva" class="control-label"></label>
                <input asp-for="EstaActiva" class="form-control" />
                <span asp-validation-for="EstaActiva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
