
  <script src="path/to/qrcode.min.js"></script>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
   <section class="container col-6 mt-5 align-items-center mb-5" style="max-height: 800px; overflow-y: auto;">


        <div id="respuestaServidorContainer"></div>
            


    </section>
 <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        var email = localStorage.getItem("email");

        if (email) {
            var url = '/tustickets/ObtenerTickets';

            $.ajax({
                type: "POST",
                url: url,
                data: { email: email },
                success: function (response) {
                console.log("Respuesta del servidor:", response);
                 
                

                        $('#respuestaServidorContainer').html(response);

                if (funcionesStrings) {
                    
                } else {
                    console.error("La respuesta del servidor no contiene FuncionesStrings");
                }
                },

            });
        }
    });



</script>
<div style="height: 100px;"></div>


