@{
    ViewData["Title"] = "Home Page";
}

    <div class="container col-6 mt-5 bg-danger-subtle">
        <div class="card">
            <div class="card-header">
                Tus Tickets
            </div>

        </div>
    </div>


    <section class="container col-6 mt-5 align-items-center mb-5" style="max-height: 600px; overflow-y: auto;">







        <div class="card mb-3 p-2" style="max-width: 540px;">
            <div class="row g-0 ">
                <div class="col-md-2 mr-2">
                    <img src="https://dummyimage.com/100x200/dee2e6/6c757d.jpg" class="img-fluid " alt="...">
                    <small>fechaCompra</small>
                </div>
                <div class="col-md-6  p-3">
                    <div class="text-body-secondary">
                        <h5 class="text-body-secondary">NombrePelicula</h5>
                        <small>sucursal</small><br>
                        <small>horario</small><br>
                        <small>idioma</small><br>
                        <small>numeroEntradas</small><br>
                        <small>butacas seleccionada</small><br>

                    </div>
                </div>
                <div class="col-md-4 align-items-center">
                    <img src="https://dummyimage.com/150x150/dee2e6/6c757d.jpg" class="img-thumbnail align-items-center" alt="...">
                    <p class="text-center">9999999999999</p>
                </div>
            </div>
        </div>

       


    
    
   
    



    </section>
   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        var email = localStorage.getItem("email");

        if (email) {
            var url = '/tustickets/ObtenerTickets';

            $.ajax({
                type: "POST",
                url: url,
                data: { email: email },
                success: function (response) {
                    
                    console.log("Tickets obtenidos con éxito:", response);
                },
                error: function (error) {
                    console.error("Error al obtener tickets:", error);
                }
            });
        }
    });
</script>



    <div style="height: 100px;">
    </div>
