@{
    ViewData["Title"] = "Home Page";
}


<div class="container mt-5 mb-5" >

            <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Credenciales incorrectas</h5>
                <p class="card-text">Las credenciales proporcionadas son incorrectas. Por favor, inténtelo nuevamente.</p>
                <a href="/login" class="btn btn-danger">Volver al Login</a>
              </div>
            </div>
          </div>
          </div>



</div>


@section scripts {
            <script>

                   localStorage.removeItem("email");
            </script>
}

