@{
    ViewData["Title"] = "Home Page";
}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">PROMOCIONES</h1>
            <p class="lead fw-normal text-white-50 mb-0">Espacio para mostrar promociones</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <select class="form-select form-select-lg" aria-label=".form-select-sm example">
                    <option selected>Sucursales</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-3">
                <select class="form-select form-select-lg" aria-label=".form-select-sm example">
                    <option selected>Pelicula</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-5">
                <form class="">
                    <input class="form-control mr-sm-2 p-2 form-select-lg" type="search" placeholder="Buscar peliculas..." aria-label="Search">
                </form>
            </div>
        </div>

    </div>

    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <a href="/detalle" style="text-decoration: none; color: inherit;">
                <div class="col mb-5">
                    <div class="card shadow-sm">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/350x500/dee2e6/6c757d.jpg" alt="..." />
                    </div>
                    <div class="card-sub text-center">
                        <h5 class="fw-bolder mt-2 align-content-center">FROZEN</h5>
                    </div>

                </div>
            </a>
        </div>
    </div>
</section>