@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <div class="filtros">
        <div class="rectangle-212"></div>
        <div class="frame-60">
            <svg class="rectangle-213"
                 width="228"
                 height="30"
                 viewBox="0 0 228 30"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 10C0 4.47715 4.47715 0 10 0H218C223.523 0 228 4.47715 228 10V20C228 25.5228 223.523 30 218 30H10C4.47716 30 0 25.5228 0 20V10Z"
                      fill="#FAFAFA" />
            </svg>

            <div class="frame-58">
                <div class="seleccione-sucursal">Seleccione Sucursal</div>
                <img class="ordenar-abajo-1" src="~/imgs/ordenar-abajo-10.png" />
            </div>
        </div>
        <div class="frame-61">
            <svg class="rectangle-2132"
                 width="228"
                 height="30"
                 viewBox="0 0 228 30"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M0 10C0 4.47715 4.47715 0 10 0H218C223.523 0 228 4.47715 228 10V20C228 25.5228 223.523 30 218 30H10C4.47716 30 0 25.5228 0 20V10Z"
                      fill="#FAFAFA" />
            </svg>

            <div class="frame-58">
                <div class="seleccione-pelicula">Seleccione Pelicula</div>
                <img class="ordenar-abajo-1" src="~/imgs/ordenar-abajo-11.png" />
            </div>
        </div>
    </div>
    <div class="peliculas-contenedor">
        <div class="rectangle-288"></div>
        <div class="pelicula">
            <div class="rectangle-216"></div>
            <img class="image-6" src="~/imgs/image-60.png" />
            <div class="nombre-pelicula">NOMBRE - PELICULA</div>
        </div>
    </div>
    <div class="banner">
        <img class="image-10" src="~/imgs/image-100.png" />
    </div>
</div>
